body
{
  background-image: url("img/restau.png");
  background-size: cover;
}

  h1
{
  text-align: center;
  font-size: 60px;
  color: orange;
}  
 
.back
{
  color: white;
    font-size: 50px;
    position: absolute;
    bottom: 0%; 
    left: 50%;
    bottom: 0;
    background-color: white ;
}
  